/* * {
  background-color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  background-color:rgba(R, G, B, A);
  background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(102,99,99,1) 100%, rgba(0,212,255,1) 100%);
}

/* body {
  background-color: white;
} */

/* section.slider, img {
  min-width: 100%;
  min-height: 100%;
  display:flex;
  justify-content:center;
  padding: 10px;
} */

navbar {
  display: flex;
  justify-content: left;
}

section.slider, img {
margin-top: 20px;
margin-bottom: 20px;
display: block;
height: 100%;
width: 100%;
line-height: 5;
/* width: 100%; */
object-fit: contain;
}


p.brand, a, img {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content:center;
  background:transparent !important;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
